<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlink.mapper.RoleNamespaceMapper">
    <sql id="baseSql">
        id,role_id,namespace_id
    </sql>
    <select id="selectForProTable" resultType="com.dlink.model.RoleNamespace">
        select
        <include refid="baseSql"/>
        from
        dlink_role_namespace
        <where>
            1=1
            <if test='param.roleId!=null and param.roleId!=""'>
                and role_id = #{param.roleId}
            </if>
            <if test='param.namespaceId!=null and param.namespaceId!=""'>
                and namespace_id = #{param.namespaceId}
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

    <delete id="deleteByRoleIds" parameterType="java.util.List">
        DELETE FROM dlink_role_namespace
        WHERE role_id IN
        <foreach collection="roleIds" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>
</mapper>