<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlink.mapper.TaskMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dlink.model.Task">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="alias" property="alias" />
        <result column="dialect" property="dialect" />
        <result column="type" property="type" />
        <result column="check_point" property="checkPoint" />
        <result column="save_point_strategy" property="savePointStrategy" />
        <result column="save_point_path" property="savePointPath" />
        <result column="parallelism" property="parallelism" />
        <result column="fragment" property="fragment" />
        <result column="statement_set" property="statementSet" />
        <result column="cluster_id" property="clusterId" />
        <result column="cluster_configuration_id" property="clusterConfigurationId" />
        <result column="database_id" property="databaseId" />
        <result column="jar_id" property="jarId" />
        <result column="config_json" property="configJson" />
        <result column="note" property="note" />
        <result column="enabled" property="enabled" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, alias,dialect, type,check_point,save_point_strategy,save_point_path, parallelism,fragment,statement_set,cluster_id,cluster_configuration_id,database_id,jar_id,config_json,note, enabled, create_time, update_time
    </sql>


    <select id="selectForProTable" resultType="com.dlink.model.Task">
        select
        a.*
        from
        dlink_task a
        <where>
            1=1
            <if test='param.name!=null and param.name!=""'>
                and a.name like "%${param.name}%"
            </if>
            <if test='param.alias!=null and param.alias!=""'>
                and a.alias like "%${param.alias}%"
            </if>
            <if test='param.createTime!=null and param.createTime!=""'>
                and a.create_time <![CDATA[>=]]> str_to_date( #{param.createTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='param.updateTime!=null and param.updateTime!=""'>
                and a.update_time <![CDATA[>=]]> str_to_date( #{param.updateTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>
</mapper>
