<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlink.mapper.TaskVersionMapper">



    <select id="selectForProTable" resultType="com.dlink.model.TaskVersion">
        select
       a.*
        from
        dlink_task_version a
        <where>
            1=1
            <if test='param.versionId!=null and param.versionId!=""'>
                and a.version_id = #{param.versionId}
            </if>
            <if test='param.taskId!=null and param.taskId!=""'>
                and a.task_id = #{param.taskId}
            </if>
            <if test='param.createTime!=null and param.createTime!=""'>
                and a.create_time <![CDATA[>=]]> str_to_date( #{param.createTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>
</mapper>
