<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlink.mapper.TenantMapper">
    <sql id="baseSql">
        id,tenant_code,is_delete,note,create_time,update_time
    </sql>
    <select id="selectForProTable" resultType="com.dlink.model.Tenant">
        select
        <include refid="baseSql"/>
        from
        dlink_tenant a
        <where>
            1=1
            <if test='param.tenantCode!=null and param.tenantCode!=""'>
                and tenant_code like "%${param.tenantCode}%"
            </if>
            <if test='param.createTime!=null and param.createTime!=""'>
                and create_time <![CDATA[>=]]> str_to_date( #{param.createTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='param.updateTime!=null and param.updateTime!=""'>
                and update_time <![CDATA[>=]]> str_to_date( #{param.updateTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>
    <select id="getTenantByIds" resultType="com.dlink.model.Tenant">
        select id
              ,tenant_code
              ,is_delete
              ,note
              ,create_time
              ,update_time
         from dlink_tenant a
        where  1=1
          and  id in
        <foreach collection="tenantIds"  item="id" separator="," open="(" close=")" index="">
            #{id}
        </foreach>
    </select>
</mapper>