@import '~antd/es/style/themes/default.less';

.right_click_menu li{
  margin:0!important;
}

.right_click_menu{
  border: 1px solid #d2d2d2;
  box-shadow: 1px 1px 4px rgb(0 0 0 / 8%);
  background-color: #fff;
  color: #666;
  z-index: 9999;
}

.tree_div{
  padding-right: 20px;
}
