.panel-resize-handle {
  border: 1px solid lightgray;
}
.ant-tabs-content {
  height: 100%;
  overflow-y: auto;
}
.ant-tabs-tabpane {
  height: 100%;
}

.ant-tree {
  height: 100%;
  overflow-y: auto;
}
