/*
 *
 *  Licensed to the Apache Software Foundation (ASF) under one or more
 *  contributor license agreements.  See the NOTICE file distributed with
 *  this work for additional information regarding copyright ownership.
 *  The ASF licenses this file to You under the Apache License, Version 2.0
 *  (the "License"); you may not use this file except in compliance with
 *  the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 *  See the License for the specific language governing permissions and
 *  limitations under the License.
 *
 */

/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
  height: 650px;
    /*background-image: linear-gradient(120deg, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);*/
 /*background-image: linear-gradient(135deg, rgb(94, 252, 232) 10%, rgb(115, 110, 254) 100%);*/
  background-image: radial-gradient(circle at 10% 20%, rgb(97, 186, 255) 0%, rgb(166, 239, 253) 90.1%);
}



.buttons {
  display: flex;
  flex-direction: row;
  margin-left: -6vw;
  width: 30rem;
  height: 10rem;
}

.structure {
    padding:8rem 0 5rem;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:left
}


.indexCtasGitHubButtonWrapper{
  display: flex;
  justify-content: center;
}

.indexCtasGitHubButton{
  display: inline;
  width: 500px;
}

.buttonLink{
  width: 200px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0.5rem;
}


.buttonLink a{
  border-radius: 5rem;
  border:"1px solid #42b983";
}

/* 响应式布局 */

.box_container {
  display: flex;
  flex-wrap: wrap;
}
.box {
  margin-left: 10px;
  margin-right: 10px;
  flex: 1;
}

@media screen and (max-width: 900px) {
.box {
    flex-basis: 50%;
}

.box_container{
  width: 100%;
}

.box_container div{
  width: 20%;
}

.heroBanner {
  text-align: left;
  position: relative;
  height: 680px;
    /*background-image: linear-gradient(120deg, rgb(161, 196, 253) 0%, rgb(194, 233, 251) 100%);*/
 /*background-image: linear-gradient(135deg, rgb(94, 252, 232) 10%, rgb(115, 110, 254) 100%);*/
  background-image: radial-gradient(circle at 10% 20%, rgb(97, 186, 255) 0%, rgb(166, 239, 253) 90.1%);
  overflow:auto;
}



.descLeft{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 100px;
 }

 /* 按钮容器 */
 .buttons{
  display: flex;
  justify-content: space-around;
  /* background-color: black; */
  width: 20rem !important;
 }

 .buttonLink {
  width: 25% !important;
  height: 100%;
  /* background-color: rebeccapurple; */
  margin: 0px;
}

/* 按钮样式 */

.buttonLink a{
  width: 87%;
  border-radius: 20px;
  height: 15%;
  font-size:xx-small;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonLink iframe{
  width: 80% !important;
  height: 15% !important;
 }

 .descRight{
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 0px !important;
 }

 .descRight div{
  display: block;
  width: 100% !important;
  background-color: black;
 }

 .structureDesc{
  width: 100% !important;
 }

 .structureText{
  width: 100% !important;
 }
}