<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dinky.mapper.AlertRulesMapper">


    <select id="selectWithTemplate" resultType="org.dinky.data.dto.AlertRuleDTO">
        select dar.id,
               dar.name,
               dar.enabled,
               dar.rule,
               dar.priority,
               dar.template_id,
               dar.description,
               dat.name as template_name,
               dat.template_content
        from dinky_alert_rules dar
                 left join dinky.dinky_alert_template dat on dar.template_id = dat.id
        where dar.enabled = 1
    </select>

</mapper>
