<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dinky.mapper.GitProjectMapper">

    <select id="selectForProTable" resultType="org.dinky.data.model.GitProject">
        select
        a.*
        from
        dinky_git_project a
        <where>
            1=1
            <if test='param.name!=null and param.name!=""'>
                and a.name like "%${param.name}%"
            </if>
            <if test='param.branch!=null and param.branch!=""'>
                and a.branch = #{param.branch}
            </if>
            <if test='param.type!=null and param.type!=""'>
                and a.type = #{param.type}
            </if>
            <if test='param.code_type!=null and param.code_type!=""'>
                and a.code_type = #{param.code_type}
            </if>
            <if test='param.build_state!=null and param.build_state!=""'>
                and a.build_state = #{param.build_state}
            </if>
            <if test='param.url!=null and param.url!=""'>
                and a.url like "%${param.url}%"
            </if>
            <if test='param.createTime!=null and param.createTime!=""'>
                and a.create_time <![CDATA[>=]]> str_to_date( #{param.createTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='param.updateTime!=null and param.updateTime!=""'>
                and a.update_time <![CDATA[>=]]> str_to_date( #{param.updateTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
        order by order_line asc

    </select>
</mapper>
