<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dinky.mapper.SavepointsMapper">

    <select id="selectForProTable" resultType="org.dinky.data.model.Savepoints">
        select
        a.*
        from
        dinky_savepoints a
        <where>
            1=1
            <if test='param.taskId!=null'>
                and a.task_id = #{param.taskId}
            </if>
            <if test='param.name!=null and param.name!=""'>
                and a.name like concat("%",#{param.name},"%" )
            </if>
            <if test='param.createTime!=null and param.createTime!=""'>
                and a.create_time <![CDATA[>=]]> str_to_date( #{param.createTime},'%Y-%m-%d %H:%i:%s')
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

    <select id="getLatestSavepointByTaskId" resultType="org.dinky.data.model.Savepoints">
        SELECT * FROM dinky_savepoints
        WHERE task_id = #{id}
        ORDER BY create_time DESC
        LIMIT 1
    </select>

    <select id="getEarliestSavepointByTaskId" resultType="org.dinky.data.model.Savepoints">
        SELECT * FROM dinky_savepoints
        WHERE task_id = #{id}
        ORDER BY create_time ASC
        LIMIT 1
    </select>
</mapper>
