<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dlink.mapper.UserRoleMapper">
    <sql id="baseSql">
        id,user_id,role_id
    </sql>
    <select id="selectForProTable" resultType="com.dlink.model.UserRole">
        select
        <include refid="baseSql"/>
        from
        dlink_user_role
        <where>
            1=1
            <if test='param.userId!=null and param.userId!=""'>
                and user_id = #{param.userId}
            </if>
            <if test='param.roleId!=null and param.roleId!=""'>
                and role_id = #{param.roleId}
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!="" and !ew.sqlSegment.startsWith(" ORDER BY")'>
                and
            </if>
            <if test='ew.sqlSegment!=null and ew.sqlSegment!=""'>
                ${ew.sqlSegment}
            </if>
        </where>
    </select>

    <select id="getUserRoleByUserId" resultType="com.dlink.model.UserRole">
        select
            <include refid="baseSql"/>
        from
        dlink_user_role
        where user_id =  (#{userId})
    </select>

    <delete id="deleteBathRelation" parameterType="java.util.List">
        delete from dlink_user_role
         where (user_id,role_id) in
      <foreach item="item" index="index" collection="userRoleList" open="(" separator="," close=")">
        (#{item.userId},#{item.roleId})
      </foreach>
    </delete>

    <delete id="deleteByRoleIds" parameterType="java.util.List">
        DELETE FROM dlink_user_role
        WHERE role_id IN
        <foreach collection="roleIds" item="item" open="(" separator="," close=")">
            ${item}
        </foreach>
    </delete>
</mapper>