<!--
  ~ Licensed to the Apache Software Foundation (ASF) under one
  ~ or more contributor license agreements.  See the NOTICE file
  ~ distributed with this work for additional information
  ~ regarding copyright ownership.  The ASF licenses this file
  ~ to you under the Apache License, Version 2.0 (the
  ~ "License"); you may not use this file except in compliance
  ~ with the License.  You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<nz-layout>
  <nz-layout>
    <nz-content>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>

<nz-drawer
  [nzVisible]="visible"
  [nzWidth]="500"
  nzPlacement="right"
  nzTitle="Server Response Message List"
  (nzOnClose)="clearMessage()"
>
<!--  <ng-container *nzDrawerContent>-->
<!--    <nz-alert-->
<!--      *ngFor="let message of statusService.listOfErrorMessage"-->
<!--      [nzShowIcon]="true"-->
<!--      [nzType]="'info'"-->
<!--      [nzMessage]="'Server Response:'"-->
<!--      [nzDescription]="message"-->
<!--    ></nz-alert>-->
<!--  </ng-container>-->
<!--</nz-drawer>-->
